xml-resources/web-service-references/WsTDDImpl_1/wsdl/192.168.99.113_8181/WsTDDImplService/WsTDDImpl.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:tns="http://webservice.fenoreste.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.fenoreste.com/">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.fenoreste.com/" schemaLocation="https://192.168.99.113:8181/WsTDDImplService/WsTDDImpl?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://siscoop.endpoint.ws.syc.com/" schemaLocation="https://192.168.99.113:8181/WsTDDImplService/WsTDDImpl?xsd=2"/>
</xsd:schema>
</types>
<message name="wsRetiroTDDReq">
<part name="parameters" element="tns:wsRetiroTDDReq"/>
</message>
<message name="wsRetiroTDDReqResponse">
<part name="parameters" element="tns:wsRetiroTDDRes"/>
</message>
<message name="wsDepositoTDDReq">
<part name="parameters" element="tns:wsDepositoTDDReq"/>
</message>
<message name="wsDepositoTDDReqResponse">
<part name="parameters" element="tns:wsDepositoTDDRes"/>
</message>
<message name="wsAsignarCuentaTDDReq">
<part name="parameters" element="tns:wsAsignarCuentaTDDReq"/>
</message>
<message name="wsAsignarCuentaTDDReqResponse">
<part name="parameters" element="tns:wsAsignarCuentaTDDRes"/>
</message>
<message name="wsSaldoTDDReq">
<part name="parameters" element="tns:wsSaldoTDDReq"/>
</message>
<message name="wsSaldoTDDReqResponse">
<part name="parameters" element="tns:wsSaldoTDDRes"/>
</message>
<portType name="WsTDD">
<operation name="wsRetiroTDDReq">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="wsRetiroTDDReq" message="tns:wsRetiroTDDReq"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://webservice.fenoreste.com/WsTDD/wsRetiroTDDReqResponse" message="tns:wsRetiroTDDReqResponse"/>
</operation>
<operation name="wsDepositoTDDReq">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="wsDepositoTDDReq" message="tns:wsDepositoTDDReq"/>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://webservice.fenoreste.com/WsTDD/wsDepositoTDDReqResponse" message="tns:wsDepositoTDDReqResponse"/>
</operation>
<operation name="wsAsignarCuentaTDDReq">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="wsAsignarCuentaTDDReq" message="tns:wsAsignarCuentaTDDReq"/>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://webservice.fenoreste.com/WsTDD/wsAsignarCuentaTDDReqResponse" message="tns:wsAsignarCuentaTDDReqResponse"/>
</operation>
<operation name="wsSaldoTDDReq">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="wsSaldoTDDReq" message="tns:wsSaldoTDDReq"/>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://webservice.fenoreste.com/WsTDD/wsSaldoTDDReqResponse" message="tns:wsSaldoTDDReqResponse"/>
</operation>
</portType>
</definitions>